.datepicker {
  &_header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    // padding-bottom: 37px;
    width: 296px;
    padding: 25px 23px 37px 23px;
    & button {
      background-color: transparent;
      color: #939598;
      font-weight: bold;
      border: none;
      cursor: pointer;
      &:focus {
        outline: 1px solid #009bdf;
      }
      &:hover {
        outline: 1px solid #009bdf;
      }
    }
  }
}
