$cellheight: 30px;
$cellwidth: 36px;
$disabled: #bfc1c2;
$foreground: #105099;

.datepicker {
  font-size: 14px;
  font-family: "Noto Sans JP";
  border-radius: 12px;
  position: relative;
  width: 100%;
  min-width: 325px;
  &_input {
    display: flex;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    outline: none;
    padding: 10px 16px;
    font-family: "Noto Sans JP", sans-serif;
    height: 38px;
    font-size: 14px;
    color: #313133;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: 1px solid #9aa5b1;
    }
  }
  &_modal {
    position: absolute;
    background-color: white;
    min-height: 371px;
    box-shadow: 0px 6px 16px #0000001f;
    z-index: 1;
    width: 100%;
    &_header {
      font-size: 14px;
      width: 296px;
      width: 100%;
      position: relative;
      &_divider {
        margin: 17px auto 20px auto;
        width: 251px;
        border-top: 1px solid #d9d9d9;
      }
      &_buttons {
        padding: 25px 23px 0px 23px;
        display: flex;
        justify-content: space-evenly;
        font-weight: 500;
        // & button {
        //   background-color: transparent;
        //   color: #939598;
        //   font-weight: bold;
        //   border: none;
        //   cursor: pointer;
        //   &:focus {
        //     outline: 1px solid $foreground;
        //   }
        //   &:hover {
        //     outline: 1px solid $foreground;
        //   }
        // }
        &_display {
          display: flex;
          gap: 5%;
        }
        &-cancel {
          background-color: transparent;
          border: 1px solid #d9d9d9;
          // float: right;
          border: none;
          position: absolute;
          cursor: pointer;
          top: 10px;
          right: 10px;
          height: 20px;
          width: 20px;
          // transform: scale(-0.75);
          border-radius: 50%;
          // background-image: url('../../icons/close.svg');
          // background-repeat: no-repeat;
          // background-position: center;
          padding: 2.5px;
          transition: background-color 0.25s ;
          &:hover{
            background-color: $foreground;
          }
        }
      }
    }
    &_calendar {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      &_week {
        display: grid;
        grid-template-columns: repeat(7, $cellwidth);
        gap: 4px;
        font-size: 10px;
        &_cell {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          width: $cellwidth;
          height: 14px;
          vertical-align: middle;
          color: #939598;
        }
      }
      &_grid {
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(7, $cellwidth);
        gap: 4px;
        &_cell {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          width: $cellwidth;
          height: $cellheight;
          border-radius: 4px;
          font-family: "Noto Sans JP", sans-serif;
          &-normal {
            cursor: pointer;
            background-color: transparent;
            border: none;
            font-family: "Noto Sans JP", sans-serif;
            padding: 5px;
            height: $cellheight;
            border-radius: 4px;
            &:hover {
              background-color: $foreground;
              color: white;
              transition: background-color 0.25s, color 0.25s;
            }
            &:focus {
              background-color: $foreground;
              color: white;
              outline: none;
            }
          }
          &-selected {
            @extend .datepicker_modal_calendar_grid_cell-normal;
            background-color: $foreground;
            color: white;
            cursor: pointer;
          }
          &-current {
            @extend .datepicker_modal_calendar_grid_cell-normal;
            outline: 1px solid $foreground;
            border-radius: 4px;
            border: none;
            cursor: pointer;
          }
          &-disabled {
            @extend .datepicker_modal_calendar_grid_cell-normal;
            background-color: $disabled;
            color: white;
            cursor: pointer;
            // text-decoration: line-through;
            &:hover {
              background-color: $disabled;
              color: white;
              cursor: default;
            }
            &:focus {
              // background-color: $foreground;
              background-color: $disabled;
              color: white;
              outline: none;
            }
          }
        }
      }
    }
    &_time {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 16px;
      & select {
        width: 50px;
        height: 30px;
        text-align: center;
        border-radius: 4px;
        border: none;
        background-color: #eaeded;
        font-family: "Noto Sans JP", sans-serif;
        &:focus,
        &:hover {
          cursor: pointer;
          outline: 1px solid black;
        }
      }
    }
    &_footer {
      font-size: 16px;
      &_divider {
        margin: 16px auto 10px auto;
        width: 100%;
        border-top: 1px solid #d9d9d9;
      }
      &_content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0 15px 10px 15px;
        &_text {
          font-size: 14px;
        }
        &_buttons {
          display: flex;
          gap: 8px;
          & button {
            font-size: 14px;
            padding: 0 20px;
            border-radius: 6px;
            height: 38px;
            cursor: pointer;
            font-family: "Noto Sans JP", sans-serif;
          }
          // &-cancel {
          //   background-color: transparent;
          //   border: 1px solid #d9d9d9;
          // }
          &-confirm {
            background-color: transparent;
            border: 1px solid $foreground;
            background-color: $foreground;
            color: white;
          }
        }
      }
    }
  }
}

.current-day {
  outline: 1px solid $foreground;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.selected-day {
  background-color: $foreground;
  color: white;
}
.time-divider {
  margin-left: 5px;
  margin-right: 5px;
}
.disabled-day {
  cursor: default;
  background-color: lime !important;
}
