$cellheight: 30px;
$cellwidth: 36px;

.datepicker {
  font-size: 12px;
  font-family: "Noto Sans JP";
  width: fit-content;
  min-height: 371px;
  background-color: white;
  padding: 29px 23px 0px 23px;
  border-radius: 12px;
  box-shadow: 0px 6px 16px #0000001f;
  &_header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 37px;
    width: 296px;
  }
  &_calendar {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_week {
      display: grid;
      grid-template-columns: repeat(7, $cellwidth);
      gap: 4px;
      font-size: 11px;
      &_day {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $cellwidth;
        height: $cellheight;
        vertical-align: middle;
        color: #939598;
      }
    }
    &_date {
      margin-top: 18px;
      display: grid;
      grid-template-columns: repeat(7, $cellwidth);
      gap: 4px;
      &_day {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $cellwidth;
        height: $cellheight;
        border-radius: 4px;
        &-normal {
          @extend .datepicker_calendar_date_day;
          cursor: pointer;
          background-color: transparent;
          border: none;
          &:hover {
            background-color: #009bdf;
            color: white;
          }
          &:focus {
            background-color: #009bdf;
            color: white;
            outline: none;
          }
        }
        &-empty {
          @extend .datepicker_calendar_date_day;
          // background-color: #939598;
        }
      }
    }
  }
  &_time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    & select {
      width: 50px;
      height: 30px;
      text-align: center;
      border-radius: 4px;
      border: none;
      background-color: #eaeded;
      &:focus,
      &:hover {
        cursor: pointer;
        outline: 1px solid black;
      }
    }
  }
}

.current-day {
  outline: 1px solid #009bdf;
  border-radius: 4px;
}

.selected-day {
  background-color: #009bdf;
  color: white;
  border-radius: 4px;
}
